<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1>if you wanted to get rich, how would you do it?</h1>
            <h5>By <span class="author">Hind Awad</span> Published on may 27,2004.</h5>
        </div>
        <hr/>
        <div class="row contentDiv">
            <div class="col-lg-2 socialMedia">
                <div class="totalShare">
                    <p class="count">23</p>
                    <p >shares</p>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="text">Email</span>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-facebook-f"></i>
                    <span class="text">Facebook</span>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span class="text">Twitter</span>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-share"></i>
                    <span class="text">More</span>
                </div>
            </div>
            <div class="col-lg-10 rightSec">
                <div class="imageTop">
                    <img src="../../../assets/images/2.jpg" >
                </div>
                <div class="paragrah">
                    <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
                </div>
                <div class="buttons">
                    <button class="likeButton">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                         i found this helpful
                    </button>
                    <button class="disLikeButton">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                         i did not find this helpful
                    </button>
                </div>
                <div class="comments">
                <p class="head">Comments</p>
                <div class="section">
                   
                    <div class="socialMediaCom">
                        <img src="../../../assets/images/avatar.jpg">
                    </div>
                    <div class="rightSecCom">
                        <p class="textCom">Olya <span class="spanCom"> Jan 16,2013 </span> <span class="spanCom"> Reply </span></p>
                        <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="join">
                <p class="head">Join The Conversion</p>
                <form>
                    <div class="form-group nameFeild">
                      <input type="text" class="form-control"  placeholder="Name">
                    </div>
                    <div class="form-group emailFeild">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="textDis">
                        <p>Will not be published</p>
                    </div>
                        <div class="clear"></div>
                    </div>
                    <div class="form-group textareaFeild">
                       
                        <textarea class="form-control" placeholder="Message" rows="8"></textarea>
                      </div>
                    <button class="btn">Send</button>
                  </form>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- <div  (click)="state = !state" style="position: relative;bottom: 0;left: 0;">
    <i class="fa fa-share"></i>
</div> -->
<!-- <div class="shares" *ngIf="state == true" style="position: relative;bottom: 2em;left: 2em;">
    <div style="width: 180px;border: 1px solid black;">
    <div  style="padding: 0;border-bottom: 1px solid;">
        <p style="margin: 0;">23 <span>shares</span></p>
    </div>
    <div  style="float: left;color: #B2B2BE;margin-right: 0.2em;font-size: 1.3em;">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
    <div style="float: left;margin-right: 0.2em;font-size: 1.3em;color: #B2B2BE;">
        <i class="fa fa-facebook-f"></i>
    </div>
    <div  style="float: left;margin-right: 0.2em;font-size: 1.3em;color: #B2B2BE;">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
    <div  style="float: left;margin-right: 0.2em;font-size: 1.3em;color: #B2B2BE;">
        <i class="fa fa-share"></i>
    </div>
    <div class="clear"></div>
</div>
</div> -->